/*------------------------------- coffee animattion componenet ----------------------------*/

.coffee_cup {
    width: 20px;
    height: 24px;
    border: 1px white solid;
    border-radius: 0px 0px 5px 5px;
    position: relative;
    display: inline-block;
}

div.span {
    display: inline-block;
    position: absolute;
    right: 165px;
    transform: scale(.75, .75);
    margin-top: 0px;
}

.coffee_cup:after,
.coffee_cup:before {
    position: absolute;
    content: "";
}

.coffee_cup:after {
    width: 5px;
    height: 12px;
    border: 1px white solid;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
}

.coffee_cup:before {
    width: 1px;
    height: 6px;
    background-color: white;
    top: -10px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px white, 5px -5px 0px 0px white, 10px 0px 0px 0px white;
    -webkit-animation: steam 1s linear infinite alternate;
    -moz-animation: steam 1s linear infinite alternate;
    animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam {
    0% {
        height: 0px;
    }
    100% {
        height: 6px;
    }
}

@-moz-keyframes steam {
    0% {
        height: 0px
    }
    100% {
        height: 6px;
    }
}

@keyframes steam {
    0% {
        height: 0px
    }
    100% {
        height: 6px;
    }
}


/*------------------------ coffee animattion componenet ------------------------*/

.rate {
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}
